<!DOCTYPE html>
<html>
	<head>
		<title>popcorn.geheimorganisation.org</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<header id="header">
			<h1>Geheimorganisation</h1>
			<span>Ihr seriöser Popcornlieferant</span>

			<nav><a href="/">Übersicht</a> <a href="/logs">Neuestes</a></nav>
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<p>Jegliches Popcorn wurde durch gewinnbringende Kinderarbeit hergestellt. – Ein Angebot der Geheimorganisation</p>
		</footer>
	</body>
</html>
